In [3]:
#Check if container is passing through + general imports 
import torch
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

cuda

In [14]:
#Make Databricks connection
from databricks_connect import connect_explicit

spark = connect_explicit()

In [18]:
# Cleaning and joining data for demand forecasts
data = spark.sql("SELECT " \
        "ss_sold_date_sk, " \
        "ss_item_sk, " \
        "ss_store_sk, " \
        "ss_promo_sk, " \
        "ss_quantity, " \
        "d_date, " \
        "d_holiday, " \
        "d_following_holiday, " \
        "d_weekend " \
        "FROM samples.tpcds_sf1.store_sales AS ss " \
        "INNER JOIN samples.tpcds_sf1.date_dim AS dd " \
        "ON ss.ss_sold_date_sk=dd.d_date_sk")
        
data.show()
data.describe()

+---------------+----------+-----------+-----------+-----------+----------+---------+-------------------+---------+
|ss_sold_date_sk|ss_item_sk|ss_store_sk|ss_promo_sk|ss_quantity|    d_date|d_holiday|d_following_holiday|d_weekend|
+---------------+----------+-----------+-----------+-----------+----------+---------+-------------------+---------+
|        2451181|     14386|          1|        251|         77|1999-01-02|        N|                  Y|        Y|
|        2451181|     11323|          1|          1|         84|1999-01-02|        N|                  Y|        Y|
|        2451181|     10141|          1|         44|         96|1999-01-02|        N|                  Y|        Y|
|        2451181|      8059|          1|         72|         51|1999-01-02|        N|                  Y|        Y|
|        2451181|      7508|          1|         36|         96|1999-01-02|        N|                  Y|        Y|
|        2451181|     11696|          1|        242|         38|1999-01-02|        N|                  Y|        Y|
|        2451181|      2545|          1|        260|          7|1999-01-02|        N|                  Y|        Y|
|        2451181|      5708|          1|          2|         56|1999-01-02|        N|                  Y|        Y|
|        2451181|      9937|       NULL|       NULL|       NULL|1999-01-02|        N|                  Y|        Y|
|        2451181|      7388|          1|        205|          7|1999-01-02|        N|                  Y|        Y|
|        2451181|      5464|          1|        216|         69|1999-01-02|        N|                  Y|        Y|
|        2451181|      8512|          1|        186|         47|1999-01-02|        N|                  Y|        Y|
|        2451181|       838|          1|         20|         82|1999-01-02|        N|                  Y|        Y|
|        2451181|     10832|          1|        191|         64|1999-01-02|        N|                  Y|        Y|
|        2451181|      8972|          1|        244|         35|1999-01-02|        N|                  Y|        Y|
|        2451181|      8774|          1|        181|         73|1999-01-02|        N|                  Y|        Y|
|        2451181|     10496|          1|         49|         98|1999-01-02|        N|                  Y|        Y|
|        2451181|      8743|          1|        156|         85|1999-01-02|        N|                  Y|        Y|
|        2451181|     11215|          1|         40|        100|1999-01-02|        N|                  Y|        Y|
|        2451181|      2083|          1|        210|         61|1999-01-02|        N|                  Y|        Y|
+---------------+----------+-----------+-----------+-----------+----------+---------+-------------------+---------+
only showing top 20 rows

DataFrame[summary: string, ss_sold_date_sk: string, ss_item_sk: string, ss_store_sk: string, ss_promo_sk: string, ss_quantity: string, d_holiday: string, d_following_holiday: string, d_weekend: string]